<%= render "banner" %>
<div class="index-wrapper">
  <div class="container">
    <div class="row">
      <% if @cocktails.count >= 1 %>
        <% @cocktails.each do |cocktail| %>
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
            </p>
          </div>
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        <% end %>
      <% end %>
      <%= cl_image_tag("v1590156516/ciyftgdml8yxolvw9gw8.jpg",
          width: 400, height: 300, crop: :fill) %>
          <%= cl_image_tag("https://res.cloudinary.com/neeele/image/upload/v1590156545/tqky1gmvy7n10xyasmxp.jpg",
          width: 150, height: 150, crop: :thumb, gravity: :face) %>
    </div>
  </div>
</div>
